.head
{
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
}
p{
    display: inline;
    font-size: 23px;

}
.but
{
    height :60px;
    width:130px;
    background-color: brown;
    margin-left: 1100px;
}
.nav
{
    background-color: coral;
    height: 90px;
    width: 100%;
}
th,td{
    font-size: 30px;
    padding: 20px;
}
.del
{
    height: 30px;
    width: 100px;
}
.home
{
    font-variant: small-caps;
    color: brown;
    font-size: 40px;
    margin-right :1500px;
}
